*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    width: 100%;
    height: 1000px;
    background-color: aqua;
}
#contact{
    width: 100%;
    height: 200px;
    background-color: aquamarine;
}